<body style="padding:0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <div ng-app="testApp" ng-controller="interfaceController as intCtrl" ng-init="intCtrl.init()" style="background-color:black;border:1px solid red;">
        <div style="height:20%;width:100%">
            <div class="row">
                <div class="col-md-6">
                    <button ng-click="intCtrl.updateSegment()">Update segment</button>
                </div>
                <div class="col-md-6">
                    first point:<span ng-bind="intCtrl.segmentData.CoordinatesList[0].X">X1</span>;<span ng-bind="intCtrl.segmentData.CoordinatesList[0].Y">Y1</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button ng-click="intCtrl.saveSegment()">Save segment</button>
                </div>
                <div class="col-md-6">
                    second point:<span ng-bind="intCtrl.segmentData.CoordinatesList[1].X">X1</span>;<span ng-bind="intCtrl.segmentData.CoordinatesList[1].Y">Y1</span>
                </div>
            </div>
        </div>
        <div style="height:80%;width:100%" id="segmewntWorkSpace">
        </div>
    </div>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <hr id="line" style="
    position: absolute;
    top: 50px;
    left: -100px;
    width: 500px;
    margin: 0;
    -webkit-transform: rotateZ(53.1deg);
    border-width: 1px;      border-style: solid;
    border-image: linear-gradient(to left, #ffffff 0%,#ffffff 49%,#000000 50%,#000000 100%) 1;
">
</body>